// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #2563eb;
  --ion-color-primary-rgb: 37, 99, 235;

  --ion-background-color: #0f172a;
  --ion-text-color: #f8fafc;

  --ion-card-background: #1e293b;
}