/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

.estado-vigente {
  background: rgba(34, 197, 94, 0.15);
  color: #22c55e;
  padding: 6px 12px;
  border-radius: 999px;
  font-weight: 700;
}

.estado-vencido {
  background: rgba(239, 68, 68, 0.15);
  color: #ef4444;
  padding: 6px 12px;
  border-radius: 999px;
  font-weight: 700;
}

.estado-pendiente {
  background: rgba(234, 179, 8, 0.15);
  color: #eab308;
  padding: 6px 12px;
  border-radius: 999px;
  font-weight: 700;
}


ion-content {
  --background: #0f172a;
  color: #f8fafc;
}

ion-toolbar {
  --background: #111827;
  --color: #ffffff;
}

ion-title {
  font-weight: 700;
}

ion-card {
  border-radius: 20px;
  background: #1e293b;
  color: #f8fafc;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

ion-card-title {
  color: #ffffff;
  font-weight: 700;
}

ion-card-subtitle {
  color: #93c5fd;
}

ion-card-content {
  color: #e5e7eb;
}

ion-button {
  --border-radius: 14px;
  text-transform: none;
  font-weight: 600;
}

ion-item {
  --background: transparent;
  --color: #f8fafc;
}

ion-input,
ion-select,
ion-textarea {
  --color: #ffffff;
}