<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar vehículo..."></ion-searchbar>
  <ion-button fill="clear" routerLink="/datos-vehiculo">
      <ion-card *ngFor="let vehiculo of vehiculos">
        <ion-icon name="cart-outline" size="large"></ion-icon>
        <ion-card-header>
          <ion-card-subtitle>{{ vehiculo.modelo }}</ion-card-subtitle>
          <ion-card-title>{{ vehiculo.patente }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <strong>Km:</strong> {{ vehiculo.kilometrajeActual }}<br>
          <strong>Próximo Km:</strong> {{ vehiculo.proximoKilometraje }}<br>
          <strong>Estado DPF:</strong> {{ vehiculo.estadoDpf }}<br>
          <strong>Observación:</strong> {{ vehiculo.observacion }}
        </ion-card-content>
      </ion-card>
  </ion-button>
</ion-content>
